#spriteCanvas1 {
  height: 350px;
  width: 300px;
  border-bottom: 5px solid black;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

#spriteCanvas2 {
  height: 350px;
  width: 300px;
  border-bottom: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#spriteCanvas3 {
  height: 350px;
  width: 300px;
  border-bottom: 5px solid black;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
